@model GameStatisticsWebApp.Models.ViewModel
@{
    ViewBag.Title = "User Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Switch between weekly and daily stats
    Gives a call to the controller which sends the new view
    -->

<br />
<h2>Statistics for user: @Model.User.UserId</h2>
<br />
<button runat="server" id=tab1 OnClick="location.href='@Url.Action("ShowWeeklyPhysioStatistics", "Statistics", new { userId = Model.User.UserId })'" CommandArgument='@Model.User.UserId'>Weekly Statistics</button>
<button runat="server" id=tab2 OnClick="location.href='@Url.Action("ShowDailyPhysioStatistics", "Statistics", new { userId = Model.User.UserId })'" CommandArgument='@Model.User.UserId'>Daily Statistics</button>

<!--
    Page navigation is done with javascript. Javascript file pagination.js in Scripts handles the pagination
-->
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li id="previous-page"><a href="javascript:void(0)" aria-label=Previous><span aria-hidden=true>&laquo;</span></a></li>
    </ul>
</nav>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
<!--
    For each item in loop, create a new page
-->
<div id="loop">

    <!--
        For each loops to display the items of the model lists
    -->
    @foreach (var item in Model.StatisticsWeek)
    {
        int count;
        <div class="list-group">
            <a href="javascript:void(0)" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    Week: @item.StartingDate.ToShortDateString() - @item.EndingDate.ToShortDateString()
                </h4>

                @foreach (var gameItem in item.Game)
                {
                    count = 0;
                    <h4 class="list-group-item-heading">
                        Game Name: @gameItem.Name
                    </h4>
                    <table>
                        <tr>
                            <th>Session No.</th>
                            <th>Total Repetition</th>
                            <th>Movement Velocity</th>
                            <th>Total Playing Time</th>
                            <th>Range Of Movement</th>
                            <th>No. Of Pauses</th>
                            <th>Length Of Pauses</th>
                        </tr>
                    @foreach (var statisticsItem in gameItem.Statistics) {
                        count++;
                        <tr>
                            <th>@count</th>
                            <th>@statisticsItem.Repetitions</th>
                            <th>@statisticsItem.MoveVelocityAverage</th>
                            <th>@statisticsItem.TotalPlayingTime</th>
                            <th>
                                Max: @statisticsItem.MoveRangeMaximum <br />
                                Min: @statisticsItem.MoveRangeMinimum<br />
                                Ave: @statisticsItem.MoveRangeAverage
                            </th>
                            <th>@statisticsItem.NumberOfPauses</th>
                            <th>@statisticsItem.PauseLength</th>
                        </tr>
                        @*
                        <p class="list-group-item-text">
                            Total number of Repetitions: @statisticsItem.Repetitions
                            <br />
                            Total playing time: @statisticsItem.TotalPlayingTime
                            <br />
                            Score: @statisticsItem.GameScore
                            <br />
                            Movement velocity: @statisticsItem.MoveVelocityAverage
                            <br />
                            Range of motion of repetitions. Minimum: @statisticsItem.MoveRangeMinimum, Maximum: @statisticsItem.MoveRangeMaximum, Average: @statisticsItem.MoveRangeAverage
                            <br />
                            Number of pauses: @statisticsItem.NumberOfPauses
                            <br />
                            Length of pauses: @statisticsItem.PauseLength
                            <br />
                        </p>
                        <br />
                        *@
                    }
                    </table>
                    <br/>
                }
            </a>
        </div>

    }
</div>
<br />

<br />
<button id="index" onclick="location.href='@Url.Action("Index", "Statistics")'">Back to Start</button>

